:root {
  --color: #243746;
  --color-primary: #158876;
  --color-secondary: #0e2233;
  --bg: #f3f5f4;
  --bg-secondary: #fff;
  --border-color: #ddd;
}

.dark-mode {
  --color: #ebf4f1;
  --color-primary: #41b38a;
  --color-secondary: #fdf9f3;
  --bg: #091a28;
  --bg-secondary: #071521;
  --border-color: #0d2538;
}
.sepia-mode {
  --color: #433422;
  --color-secondary: #504231;
  --bg: #f1e7d0;
  --bg-secondary: #eae0c9;
  --border-color: #ded0bf;
}

body {
  background-color: var(--bg);
  color: var(--color);
  transition: background-color .3s;
  display: block !important;
  opacity: 1 !important;
}

body,
h1 span,
h5,
.post .post_date h5,
#contact_form label {
  font: 12px/22px 'Open Sans', Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.post .post_bottom .cats ul li a,
.format-link a,
.widget ul li a,
.btn {
  font-family: 'Montserrat', sans-serif;
}

a {
  color: var(--color-primary)
}

.vue-typer .custom.char.typed {
  color: #fff;
}
