:root {
  --color: #243746;
  --color-primary: #158876;
  --color-secondary: #0e2233;
  --bg: #f3f5f4;
  --bg-secondary: #fff;
  --border-color: #ddd;
}

.dark-mode {
  --color: #ebf4f1;
  --color-primary: #41b38a;
  --color-secondary: #fdf9f3;
  --bg: #091a28;
  --bg-secondary: #071521;
  --border-color: #0d2538;
}

.sepia-mode {
  --color: #433422;
  --color-secondary: #504231;
  --bg: #f1e7d0;
  --bg-secondary: #eae0c9;
  --border-color: #ded0bf;
}

/* Clearfix */
.clearfix:after {
  content: '';
  display: block;
  clear: both;
  visibility: hidden;
  font-size: 0;
  height: 0;
}

.clearfix {
  *display: inline-block;
  height: 1%;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html {
  scroll-behavior: smooth;
}

body {
  line-height: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-weight: 400;
  margin-bottom: 25px;
  line-height: 1em;
  letter-spacing: 2px;
}

h1 {
  font-size: 36px;
  text-transform: uppercase;
  letter-spacing: 7px;
  line-height: 1.2em;
}

h1 span {
  font-weight: 300;
}

h2 {
  font-size: 24px;
  line-height: 1.6em;
  text-transform: uppercase;
}

h3 {
  font-size: 20px;
  line-height: 1.6em;
  letter-spacing: 0;
}

h4 {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
}

h5 {
  font-size: 12px;
  font-weight: 300;
  line-height: 1.7em;
  text-transform: uppercase;
}

h6 {
  font-size: 10px;
}

hr {
  border: 1px solid #fff;
}

body,
h1 span,
h5,
.post .post_date h5,
#contact_form label {
  font: 12px/22px 'Open Sans', Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.post .post_bottom .cats ul li a,
.format-link a,
.widget ul li a,
.btn,
.tagcloud a,
.widget_categories ul li a,
.cats ul li a {
  font-family: 'Montserrat', sans-serif;
}

#side li,
#social li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

:focus {
  outline: 0;
}

ins,
a {
  text-decoration: none;
}

a,
input[type='submit'],
button[type='submit'] {
  cursor: pointer;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: var(--bg);
  color: var(--color);
  padding: 0;
  margin: 0;
  opacity: 0; /* For page fade in, open "~/plugins/jQuey.client.js" */
}

a {
  color: #fff;
  font-style: italic;
  text-decoration: none;
}

.vue-typer .custom.char.typed {
  color: #fff;
}

/* Columns */

.full {
  width: 100%;
  clear: both;
  margin-bottom: 25px;
  overflow: hidden;
}

.one-half,
.one-third,
.two-thirds,
.one-fourth,
.three-fourths,
.one-fifth,
.two-fifths,
.three-fifths,
.four-fifths,
.one-sixth {
  float: left;
  position: relative;
  margin-right: 4%;
  margin-bottom: 25px;
  overflow: hidden;
}

.no-margin {
  margin-bottom: 0;
}

.one-half {
  width: 48%;
}

.one-third {
  width: 30.66%;
}

.two-thirds {
  width: 65.1%;
}

.one-fourth {
  width: 22%;
}

.three-fourths {
  width: 74%;
}

.one-fifth {
  width: 16.8%;
}

.two-fifths {
  width: 37.2%;
}

.three-fifths {
  width: 54.8%;
}

.four-fifths {
  width: 78.8%;
}

.column-last {
  margin-right: 0 !important;
  clear: right;
}

/* Buttons */

.btn {
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  font-weight: 700;
  font-style: normal;
  color: #fff !important;
  text-transform: uppercase;
  padding: 4px 15px;
  margin: 0 10px 10px 0;
  display: inline-block;
  border: none;
  background: #323439;
  border-radius: 3px;
  transition: background 250ms;
  -webkit-transition: background 250ms;
  -o-transition: background 250ms;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

.large {
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  padding: 4px 20px;
}

.regular {
  font-size: 12px;
}

.small {
  height: 16px;
  line-height: 16px;
  padding: 4px 10px;
}

.btn:hover {
  background-color: #ff4343;
  color: #fff;
}

/* Box */

.panel {
  padding-top: 78px;
  margin-bottom: 350px;
  position: relative;
}

.box {
  color: #cacdce;
}

.box .in {
  padding: 30px;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.8);
}

#main img,
.box .in {
  max-width: 100%;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -webkit-box-shadow: 0px 1px 7px 0px rgba(00, 00, 00, 0.7);
  box-shadow: 0px 1px 7px 0px rgba(00, 00, 00, 0.7);
}

#main {
  width: 63%;
  float: right;
}

#main #content {
  max-width: 660px;
  padding: 0 30px 0 0;
  position: relative;
}

h5 {
  margin-bottom: 10px;
}

blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
:focus {
  outline: 0;
}
ins,
a {
  text-decoration: none;
}
a,
input[type='submit'],
button[type='submit'] {
  cursor: pointer;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*========================================================

	BEGIN Main

========================================================*/

address,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

address {
  color: #fff;
}

p {
  margin-bottom: 20px;
}

input,
textarea,
select {
  vertical-align: middle;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button {
  padding: 0;
  border: none;
  background: none;
}

iframe,
object,
embed {
  width: 100%;
  max-height: 100%;
  float: left;
}

.center {
  text-align: center;
}

.line {
  width: 100%;
  clear: both;
  padding-bottom: 20px;
  margin-bottom: 20px;
  background: url('~assets/images/sep.png') bottom left repeat-x;
}

.under {
  text-decoration: underline;
}

.none {
  display: none;
}

.jump {
  color: #fff;
  font-size: 10px;
  font-style: normal;
  line-height: 25px;
  text-align: center;
  text-transform: uppercase;
  width: 30px;
  height: 25px;
  padding: 5px;
  display: block;
  position: fixed;
  bottom: 30px;
  right: 30px;
  opacity: 0.5;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -webkit-box-shadow: 0px 1px 7px 0px rgba(00, 00, 00, 0.7);
  box-shadow: 0px 1px 7px 0px rgba(00, 00, 00, 0.7);
  background-color: rgba(0, 0, 0, 0.8);
  transition: 200ms;
}

.jump:hover {
  opacity: 1;
}

img {
  max-width: 100%;
  height: auto;
}

.nav_on,
.active,
.current_page_item,
.current-menu-item {
  opacity: 1 !important;
}

/* Transitions */

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

/* Responsiveness */

@media only screen and (max-width: 880px) {
  .panel {
    padding-top: 180px;
  }

  .skill .bar {
    height: 32px;
    line-height: 32px;
  }

  .skill .bar div {
    height: 32px;
  }
}

@media only screen and (max-width: 540px) {
  .one-half,
  .one-third,
  .two-thirds,
  .one-fourth,
  .three-fourths,
  .one-fifth,
  .two-fifths,
  .three-fifths,
  .four-fifths,
  .one-sixth {
    width: 96%;
  }

  .skill .bar {
    height: 24px;
    line-height: 24px;
  }

  .skill .bar div {
    height: 24px;
  }

  .post_left,
  .post_right {
    width: 100% !important;
  }
}
